<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition['name']}} || GUDLFT</title>
</head>
<body>
    <h2>{{competition['name']}}</h2>
    <p>Places available: {{competition['numberOfPlaces']}}</p>
    <p>Places booked: {{booked}}</p>
    <p>Points available: {{club['points']}}</p>
    <p>(so you can book at most {{maxplaces}} places)</p>
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
	<label for="places">How many places?</label><input type="number" min="1" max="{{maxplaces+1}}" name="places" id=""/>
        <button type="submit">Book</button>
    </form>
</body>
</html>
